.leaguesCardsComponent{
    width: 100vw;
    padding: 10px;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    & .leaguesCardsContainer{
        width: 96vw;
        display: flex;
        gap: 12px;
    }
}

.leaguesCardsComponent::-webkit-scrollbar { 
	display: none;
}