@import '../../style/colors.scss';
@import '../../style/variables.scss';

header{
    background-color: $green;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    & .headerContainer{
        display: flex;
        width: 90vw;
    }

    & p{
        color: $white;
        font-family: $inter;
        font-weight: 600;
    }

    & .shieldContainer{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    & .valuesFields{
        display: flex;
        align-items: center;
        gap: 10px;

        & div{
            background-color: $light-gray;
            height: 20px;
            padding: 5px;
            gap: 5px;
            border-radius: 5px;
            display: flex;
            align-items: center;
        }

        & .moneyValue{
            
        
            & .moneyValue_img{
                height: 20px;
                width: 20px;
            }
        }
    }
}

