@import '../../style/colors.scss';
@import '../../style/variables.scss';

header{
    background-color: $green;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    & .headerContainer{
        display: flex;
        width: 96vw;
        justify-content: space-between;
    }

    & p{
        color: $white;
        font-family: $inter;
        font-weight: 600;
    }

    & .shieldContainer{
        display: flex;
        align-items: center;
        gap: 6px;

        & img{
            width: 60px;
        }
    }

    & .valuesFields{
        display: flex;
        align-items: center;
        gap: 5px;

        & span{
            color: #696767;
            font-family: $inter;
            font-size: 14px;
            font-weight: 600;
        }

        & >  div{
            background-color: $light-gray;
            height: 25px;
            padding: 5px 10px 5px 0px;
            gap: 5px;
            border-radius: 5px;
            display: flex;
            align-items: center;

            & > div{
                background-color: #BBB9B9;
                border-radius: 5px 0px 0px 5px;
                height: 25px;
                padding: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25px;
            }
        }

        & .moneyValue{
            & .moneyValue_img{
               & img{
                width:  100%;
               }
            }
        }

        & .goldBallValue{
            & .goldBallValue_img{
                & img{
                    width: 90%;
                }
            }
        }
    }
}

