.sellBtn{
    background-color: #F87255;
    border: none;
    display: flex;
    align-items: center;
    width: 180px;
    height: 40px;
    justify-content: center;
    gap: 15px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    & img{
        width: 25px;
    }
}