.playerCard{
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 0 2%;
    height: 150px;
    justify-content: center;
    padding: 10px;
    gap: 20px;

    & .playerCard__top{
        display: flex;
        align-items: center;
  
        & .playerIconContainer{
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        

        & .playerInfos{
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin: 0 20px;
            & .playerName{

            }

            & .teamNames{
                font-size: 12px;
                & em{
                    font-weight: bold;
                }
            }
            & .matchInfos{
                display: flex;
                gap: 15px;

                & div{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
                & .date{
                    & img{
                        width: 12px;
                    }
                }
    
                & .hour{
                    & img{
                        width: 14px;
                    }
                }
            }
            
        }
    }

    & .playerCard__bottom{
        display: flex;
        
        & > div > p{
            
        }

        & > div > span{
            
        }

        & .price{
            background-color: #ECECEC;
            border-radius: 5px;
            padding: 5px;
            width: 25%;
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            & p{
                
            }
            & span{
                font-weight: bold;
                font-size: 14px;
            }
        }
        & .infosContainerComponent{
            width: 75%;
        }
    }
}